<mat-expansion-panel class="card-adicionar">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Adicionar Tarefa
    </mat-panel-title>
    <mat-panel-description>
      Adicione uma nova tarefa
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form class="form full-width" #frm="ngForm" (ngSubmit)="cadastrar(frm)">
    <mat-form-field class="half-width">
      <input matInput placeholder="Descrição" name="descricao" ngModel [required]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Deadline" name="deadline" ngModel [required]="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Severidade" name="severidade" ngModel [required]="true">
        <mat-option *ngFor="let severidade of valor_severidade" 
                    [value]="severidade.valor">
          {{ severidade.conteudo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" 
              type="submit" label="Cadastrar" 
              [disabled]="frm.invalid" >
        Cadastrar
      </button>                
    </div>
  </form>
</mat-expansion-panel>

<mat-card class="card-tarefa" [ngClass]="tarefa.severidade" *ngFor="let tarefa of tarefas">
  <mat-card-title>
    <span>{{ tarefa.descricao }}</span>
    <span class="spacer"></span>
    <button mat-icon-button color="warn">
        <mat-icon aria-label="Remover" (click)="remover(frm, tarefa.id)">delete</mat-icon>
      </button>
  </mat-card-title>
  <mat-card-content>
    <mat-chip-list>
        <mat-chip color="primary" selected="true">Severidade: {{ tarefa.severidade }}</mat-chip>
        <mat-chip color="primary" selected="true">Prazo: {{ tarefa.deadline | date: 'dd/MM/yyyy'}}</mat-chip>
    </mat-chip-list>
    
    <span class="spacer"></span>
    <mat-slide-toggle color="primary">
      Realizada
    </mat-slide-toggle>
  </mat-card-content>
</mat-card>
