.form {    
    min-width: 150px;
    width: 100%;
  }
  
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.card-adicionar {
    top: 64px;
    bottom: 74px;
}

.card-tarefa {
    background-color: rgb(194, 125, 125);
    top: 74px;
    margin-bottom: 10px;
}