.form {    
    min-width: 150px;
    width: 100%;
  }
  
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.baixa {
    background-color: rgb(255, 255, 110);
}

.media {
    background-color: rgb(252, 179, 53);
}

.alta {
    background-color: rgb(252, 91, 32);
}

.urgente {
    background-color: rgb(248, 25, 25);
}

.card-adicionar {
    margin-top: 64px;
}

.card-tarefa {
    top: 14px;
    margin-bottom: 10px;
    z-index: 1;
}

mat-card-title {
    display: flex;
    font-size: 14pt;
}

mat-card-content {
    display: flex;
}

.atrasada {
    background-color: red;
}