.form {    
    min-width: 150px;
    width: 100%;
  }
  
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.baixa {
    background-color: lightgreen;
}

.media {
    background-color: lightblue;
}

.alta {
    background-color: lightsalmon;
}

.urgente {
    background-color: lightcoral;
}

.card-adicionar {
    margin-top: 84px;
}

.card-tarefa {
    top: 14px;
    margin-bottom: 10px;
    z-index: 1;
}

mat-card-title {
    display: flex;
    font-size: 14pt;
}

mat-card-content {
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

.atrasada {
    background-color: red;
}