<mat-expansion-panel class="card-adicionar">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Adicionar Tarefa
    </mat-panel-title>
    <mat-panel-description>
      Adicione uma nova tarefa
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form class="form full-width" #frm="ngForm" (ngSubmit)="cadastrar(frm)">
    <mat-form-field class="half-width">
      <input id="descricao" matInput placeholder="Descrição" name="descricao" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <input id="deadline" matInput [matDatepicker]="picker" placeholder="Deadline" name="deadline" ngModel required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select id="severidade" placeholder="Severidade" name="severidade" ngModel required>
        <mat-option *ngFor="let severidade of valor_severidade" 
                    [value]="severidade.valor">
          {{ severidade.conteudo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" 
              type="submit" label="Cadastrar" 
              [disabled]="frm.invalid" >
        Cadastrar
      </button>                
    </div>
  </form>
</mat-expansion-panel>

<mat-card class="card-tarefa" [ngClass]="tarefa.severidade" *ngFor="let tarefa of tarefas">
  <mat-card-title>
    <span>{{ tarefa.descricao }}</span>
    <span class="spacer"></span>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Remover" (click)="deleteDialog('Tem certeza que deseja deletar?', 'Tarefa: ' + tarefa.descricao, tarefa.id)">delete</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content>
    <mat-chip-list>
        <mat-chip color="primary" selected="true">Severidade: {{ tarefa.severidade }}</mat-chip>
        
        <ng-container [ngSwitch]="comparaDatas(tarefa.deadline)">
          <mat-chip *ngSwitchCase="'atraso'" class="preto">Prazo: {{ tarefa.deadline | date: 'dd/MM/yyyy' }}</mat-chip>              
          <mat-chip *ngSwitchCase="'hoje'" color="warn" selected="true">Prazo: {{ tarefa.deadline | date: 'dd/MM/yyyy' }}</mat-chip>                                            
          <mat-chip *ngSwitchCase="'ok'" color="primary" selected="true">Prazo: {{ tarefa.deadline | date: 'dd/MM/yyyy' }}</mat-chip>                              
        </ng-container>

      </mat-chip-list>
    
    <span class="spacer"></span>
    <button mat-icon-button color="primary">
      <mat-icon (click)="concluidoDialog('Marcar como concluída?', 'Tarefa: ' + tarefa.descricao, tarefa)">done</mat-icon> 
    </button>  
    </mat-card-content>
</mat-card>
